@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}
img{border:none;}
p{
	margin:5px 0px;
}
.main_wrapper{
	width:960px;
	margin:0 auto;
	padding:0px;
}
.header_wrap{
	margin:0 auto;
	padding:0;
	width:936px;
	
}
.toplinks{
	background:url(../images/top_sct_bg.jpg) repeat-y top left;
	padding:10px;
	width:940px;
	display:inline-block;
}
.checkout{
	float:left;
	margin-left:180px;
	font-size:14px;
	color:#666666;
}
.checkout a{
	font-size:14px;
	color:#666666;
	text-decoration:none;
	margin:0 5px;
}
.checkout a:hover{
	text-decoration:underline;
}
ul.loginlinks{
	margin:0px;
	padding:0px;
	float:right;
	list-style-type:none
}
ul.loginlinks li{
	float:left;
	font-size:14px;
	color:#fff;
	margin:0px 5px;
}
ul.loginlinks li a{
	font-size:14px;
	color:#fff;
	text-decoration:none;
}
ul.loginlinks li a:hover{
	text-decoration:underline;
}

.header{
	background:url(../images/header_img.jpg) no-repeat bottom right;
	height:222px;
	border-bottom:3px solid #c3c4c2;
}
.site_logo{

}
.header h1{
	font-size:18px;
	font-weight:bold;
	text-align:center;
	width:560px;
}
.header h1 span{
	font-size:24px;
	font-weight:bold;
	color:#000099;
}
.header h1 sup{
	font-size:10px;
	font-weight:bold;
}


#nav_wrapper {
	padding:0px;
	margin-top:10px;
}

#nav_wrap {
	background:url(../images/top_nav_bg.jpg) repeat-x top left;
	height:37px;
	
}

/* remove the list style */
	#nav {
	margin:0;
	padding:0;
	list-style:none;
}
#nav li {
	float:left;
	display:block;
	position:relative;
	z-index:500;
	padding:6px 11px 0px;
	font-size:14px;
	vertical-align: middle;
	color: #939598;
	background:url(../images/menu_divider.jpg) no-repeat center right;
}
#nav li.last {
	background:none;
}
/* this is the parent menu */
#nav li a {
	display:block;
	padding:2px 4px 5px 4px;
	margin:0 10px 0 10px;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow: #266192;
	font-size:14px;
	font-weight:normal;
	text-decoration: none;
	text-align:center;
	color: #fff;
}
#nav li a:hover {
	color:#fff;
	text-decoration:underline;
}
/* you can make a different style for default selected value */
#nav a.selected {
	/*color:#f00;*/
	color:#fff;
}
.content_wrap{
	padding:5px 0px;
	width:936px;
	margin:10px auto;
	display:block
}

.content_left_wrap{
	width:485px;
	float:left;
	padding:0px;
}
.left_panel{
	width:166px;
	background:#d3d3d3 url(../images/left_part_bg.png) no-repeat top left;
	position:relative;
	padding:3px 0px;
	float:left;
}
.left_panel h2{
	font-size:18px;
	font-weight:normal;
	color:#003399;
	text-align:center;
}
.left_panel ul{
	margin:5px 1px;
	padding:0px;
	list-style-type:none;
	text-align:center;
}
.left_panel li{
	font-size:14px;
	font-weight:normal;
	margin:2px 0px;
	/*letter-spacing:-1px;*/
}
.left_panel li a{
	font-size:14px;
	font-weight:normal;
	margin:14px 0px;
	color:#000;
	text-decoration:none;
}
.left_panel li a:hover{
	text-decoration:underline;
}
ul.left_bluelink{
	margin:100px 3px 10px;
	padding:0px;
	list-style-type:none;
	text-align:center;
}
ul.left_bluelink li{
	font-size:14px;
	font-weight:bold;
	margin:14px 0px;
	color:#000;
	/*letter-spacing:-1px;*/
}
ul.left_bluelink li a{
	font-size:13px;
	font-weight:bold;
	margin:14px 0px;
	color:#003399;
	text-decoration:none;
}
ul.left_btmlink{
	margin:10px 3px 10px;
	padding:0px;
	list-style-type:none;
	text-align:center;
}
ul.left_btmlink li{
	font-size:14px;
	font-weight:bold;
	margin:4px 0px;
	color:#000;
	/*letter-spacing:-1px;*/
}
ul.left_btmlink li a{
	font-size:13px;
	font-weight:bold;
	margin:14px 0px;
	color:#003399;
	text-decoration:none;
}

.left_lbl_img{
	position:absolute;
	top:139px;
	left:-15px;
}

.search_tf{
	background:url(../images/search_box.png) no-repeat top left;
	width:143px;
	height:18px;
	padding:2px 3px;
	border:none;
}


.content_mid{
	float:left;
	width:295px;
	margin:0 11px 10px 10px;
	text-align:center;
}
.content_mid h2{
	font-size:30px;
	color:#003399;
	font-weight:bold;
	letter-spacing:-1px;
	margin:0px 0px;
	font-style:italic;
}
.content_mid h3{
	font-size:24px;
	color:#000;
	font-weight:bold;
	letter-spacing:-1px;
	margin:0px 0px;
	font-style:italic;
}
.content_mid h4{
	font-size:18px;
	color:#000;
	font-weight:normal;
	margin:0px 0px;
	text-align:center;
	font-style:italic;
}
p.subheading{font-size:14px; font-weight:bold; font-style:italic;}
p.subheading sup{font-size:10px; font-weight:bold; font-style:italic;}
sup{font-size:8px; font-weight:normal;}
.content_mid .leftText{
	text-align:left;
}

.content_right{
	float:right;
	width:450px;
	position:relative;
	z-index:2;
}
.right_dual_advt{
	background:url(../images/right_text_bg.jpg) no-repeat top left;
	margin:15px 0px;
	font-size:14px;
	font-weight:normal;
	letter-spacing:-1px;
	text-align:center;
	padding:3px 0px;
}
.right_dual_advt h2{
	font-size:23px;
	font-weight:bold;
	font-style:italic;
	letter-spacing:-1px;
	margin:0px;
	padding:0px;
	line-height:24px;
	
}
.right_dual_advt p{
	margin:0px;
	padding:0px;
}
.right_dual_advt p span{
	font-weight:bold;
	font-style:italic;
}

.bottom_content{
	clear:both;
	overflow:hidden;
}

.btm_left_content{
	padding:5px;
	width:466px;
	float:left;
}
.btm_left_content a{
	color:#000099;
	text-decoration:none;
	font-style:italic;
}
.btm_left_content a:hover{
	text-decoration:underline;
}
.btm_left_content h2{
	font-size:18px;
	color:#999999;
	margin:5px 0px;
}
.share_area{
	width:200px;
	float:left;
}
p.share_title{
	font-size:16px;
	font-weight:bold;
	font-style:italic;
	text-align:center;
	color:#858585;
	margin-bottom:8px;
}

ul.social_media{
	list-style:none;
	margin:0px 15px;
	padding:0px;
}
ul.social_media li{
	float:left;
	margin:0 5px;
}

.social_net_wrap{
	float:left;
	width:260px;
}
ul.social_net{
	margin:0 auto;
	padding:0px;
	list-style:none;
	width:230px;
}
ul.social_net li{
	float:left;
	margin:8px 10px;
}
ul.email_page{
	margin:0 auto;
	padding:0px;
	list-style:none;
}
ul.email_page li{
	float:left;
	margin:8px 3px;
	font-size:14px;
	text-transform:uppercase;
	color:#3f5bd5;
}

.bottom_right_content{
	float:right;
	width:430px;
	background:url(../images/news_bg.png) no-repeat top left;
	padding:5px 10px;
}
.bottom_right_content p a{
	color:#000099;
	text-decoration:none;
	font-style:italic;
}
.bottom_right_content p a:hover{
	text-decoration:underline;
}

.bottom_right_content h2{
	font-size:18px;
	color:#999999;
	font-weight:bold;
	margin:5px 0px;
}
.bold{font-weight:bold;}
.pagination{
	margin-top:10px;
}
ul.paging{
	list-style-type:none;
	margin:0 auto;
	width:200px;
}
ul.paging li{
	float:left;
}
ul.paging li a{
	float:left;
	padding:3px 5px;
	margin:0px 2px;
	border:1px solid #5284ff;
	color:#5284ff;
	font-weight:bold;
	text-decoration:none;
}
ul.paging li a:hover, ul.paging li a.select{
	border:1px solid #fff;
	color:#fff;
	background-color:#5284ff;
}

.news_link{
	text-align:center;
	color:#0230f5;
	clear:both;
	padding:5px;
}
.news_link a{
	text-align:center;
	color:#0230f5;
	text-decoration:none;
	font-size:14px;
}
.news_link a:hover{
	text-decoration:underline;
}


/*footer css start here*/
.footer_wrap{
	margin:0px;
}
.footer_wrap .footer_top_outer{
	background:url(../images/footer_bg.jpg) repeat-x top left;
	height:233px;
}
.footer_top_outer .footer_top{
	width:920px;
	margin:0 auto;
	padding:10px;
	color:#FFFFFF;
}
.footer_top .footer_clm{
	width:160px;
	float:left;
	margin-right:10px;
}
.footer_clm h2{
	font-size:16px;
	font-weight:bold;
	color:#fff;
	margin:5px 0px;
}
.footer_clm ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
.footer_clm li{
	font-size:15px;
	font-weight:normal;
	margin:3px 0px;
}
.footer_clm li a{
	font-size:15px;
	font-weight:normal;
	line-height:18px;
	color:#fff;
	text-decoration:none;
}
.footer_clm li a:hover{
	text-decoration:underline;
}
.select_lang{
	background:#f2f3f2;
	border:1px solid #888788;
	font-size:12px;
	margin-left:20px;
	width:150px;
}

.footer_certificate{
	float:right;
	width:230px;
}
.secure_box{
	float:left;
	width:90px;
	font-size:11px;
	text-transform:uppercase;
	color:#3f4260;
	margin-right:10px;
}
.verified_box{
	float:left;
	width:90px;
	font-size:12px;
	color:#fff;
	text-align:center;
}

.footer_bottom{
	width:920px;
	margin:0 auto;
	padding:10px;
	color:#78779a;
	line-height:20px;
}
.footer_bottom p{
	margin:8px 20px;
}

.statement_box{
	margin:0px;
}
.rc_ftr_left{background:url(../images/footer_rc_left.jpg) no-repeat left top; width:8px; height:31px; float:left;}
.rd_ftr_spacer{background:url(../images/footer_rc_bg.jpg) repeat-x left top; float:left; height:31px; padding:5px 15px 0px 0px;}
.rc_ftr_right{background:url(../images/footer_rc_right.jpg) no-repeat left top; width:8px; height:31px; float:left;}

.clear{clear:both;}


/*new classes 22nd June 2012*/
.slide_banner_wrap{
	position:relative;
	padding:0px;
	margin:0px;
}
.banner_content{
	position:absolute;
	bottom:0px;
	padding:8px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	background-color:#51392c;
	filter:alpha(opacity=60);   /* Internet Explorer       */
   -moz-opacity:0.6;           /* Mozilla 1.6 and below   */
   opacity: 0.6;               /* newer Mozilla and CSS-3 */
   opacity:0.60;filter:alpha(opacity=60);
   left:0px;
}
.banner_content span{
	color:#d0c578;
	float:right;
}

.video_wrap{
	background-color:#5089e0;
	padding:0px;
}
.video_img{
	margin:0 auto;
	width:357px;
}