body, caption, th, td, input, textarea, select, option, legend, fieldset {
    font-family: Arial,Helvetica,sans-serif;	
}
body #page-wrapper{
	font-family:Arial,Helvetica,sans-serif;	
	width:100%;
	font-size:15px;
}
body #page {
	width:960px;
	margin:0 auto;
}
body.admin-menu{
margin-top:0px !important;
padding-top:20px;
}
.front .region-sidebar-first {
	border:0px solid red;
	width:166px;
    margin-left: 0px;
    margin-right: -166px;
}
.front .region-sidebar-second {
	border: 0px solid red;
    margin-left: 505px;
    margin-right: -950px;
    width: 450px;
}
.front .region-sidebar-second .section {
	margin:0px;
	padding:0px;
}
.front #main-wrapper #content {
    border: 0px solid blue;
    margin-left: 186px;
    margin-right: -567px;
    width: 306px;
}
#header {
    background: url("../images/header_img.jpg") no-repeat scroll right bottom transparent;
    border-bottom: 3px solid #C3C4C2;
    height: 222px;
	margin: 0 auto;
    padding: 0;
    width: 960px;
}
/* .toplinks {
  background: url("../images/top_sct_bg.jpg") repeat-y scroll left top transparent;
  display: inline-block;
  padding: 10px;
  width: 940px;
} */
.toplinks{
 background:url(../images/top_sct_bg.jpg) repeat-y top left;
 padding:5px 10px;
 width:940px;
 display:inline-block;
}
.checkout {
    color: #666666;
    float: left;
    font-size: 14px;
    margin-left: 50px;
}
.checkout a {
    color: #666666;
    font-size: 14px;
    margin: 0 5px;
    text-decoration: none;
}
ul.loginlinks {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.loginlinks li {
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    margin: 0 5px;
}
ul.loginlinks li a {
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
}
#header #block-block-1 h1 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 560px;
	font-family:Arial,Helvetica,sans-serif;	
	line-height:22px;
}
#header #block-block-1 h1 span {
    color: #000099;
    font-size: 24px;
    font-weight: bold;
}
.region-header {
	padding-top:10px;
}
#header h1 sup {
    font-size: 10px;
    font-weight: bold;
}

/*** CSS for primary navigation top menu ***/

/* #navigation {
    margin-top: 6px;
    padding: 0;
	background: url("../images/top_nav_bg.jpg") repeat-x scroll left top transparent;
    height: 37px;
	border:0px solid red;
} */
.with-navigation #content,.with-navigation .region-sidebar-second,.with-navigation .region-sidebar-first{
	margin-top:15px;
} 

#main-menu {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#main-menu li {
    background: url("../images/menu_divider.jpg") no-repeat scroll right center transparent;
    color: #939598;
    display: block;
    float: left;
    font-size: 14px;
    padding: 6px 11px 0;
    position: relative;
    vertical-align: middle;
    z-index: 500;
}
#main-menu li a {
    color: #FFFFFF;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0 10px;
    padding: 2px 4px 5px;
    text-align: center;
    text-decoration: none;
}
#main-menu li.last {
    background: none repeat scroll 0 0 transparent;
}

/******End of css for navigation menu******/

/***** CSS for footer *********/

#footer {
    color: #78779A;
    line-height: 20px;
    margin: 0 auto;
    padding: 10px;
    width: 920px;
	font-family:Arial,Helvetica,sans-serif;	
	font-size:12px;
}
.statement_box {
    margin: 0;
}
.rc_ftr_left {
    background: url("../images/footer_rc_left.jpg") no-repeat scroll left top transparent;
    float: left;
    height: 31px;
    width: 8px;
}
.rd_ftr_spacer {
    background: url("../images/footer_rc_bg.jpg") repeat-x scroll left top transparent;
    float: left;
    height: 31px;
    padding: 5px 15px 0 0;
}
.rc_ftr_right {
    background: url("../images/footer_rc_right.jpg") no-repeat scroll left top transparent;
    float: left;
    height: 31px;
    width: 8px;
}
#footer p {
    margin: 8px 20px;
}


/******* Css for footer top region *******/
.footer_wrap {
    margin: 0;
}
.footer_wrap .footer_top_outer {
    background: url("../images/footer_bg.jpg") repeat-x scroll left top transparent;
    height: 233px;
}
.footer_top_outer #footer_top {
    color: #FFFFFF;
    margin: 0 auto;
    padding: 10px;
    width: 920px;
}
#footer_top .block {
    float: left;
    margin-right: 10px;
    width: 160px;
}
.footer_certificate {
    width: 230px;
}
#footer_top .block h2 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
}
#footer_top .block ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#footer_top .block li {
    font-size: 15px;
    font-weight: normal;
    margin: 3px 0;
	list-style:none;
}
#footer_top .block li a {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
    text-decoration: none;
}
.secure_box {
    color: #3F4260;
    float: left;
    font-size: 11px;
    margin-right: 10px;
    text-transform: uppercase;
    width: 90px;
}
#footer_top #block-block-9 {
    float:right;
	width:200px;
}
.verified_box {
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    text-align: center;
    width: 90px;
}
/******* End of css for footer top region *******/

/********Css for left side region ********/

.region-sidebar-first {
	background: url("../images/left_part_bg.png") no-repeat scroll left top #D3D3D3;
    float: left;
    padding: 3px 2px;
    width: 166px;
}
.region-sidebar-first h2 {
    color: #003399;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.region-sidebar-first ul {
    list-style-type: none;
    margin: 5px 1px;
    padding: 0;
    text-align: center;
}
.region-sidebar-first li {
    font-size: 14px;
    font-weight: normal;
    margin: 14px 0;
}
.region-sidebar-first li a {
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    margin: 14px 0;
    text-decoration: none;
}
ul.left_btmlink {
    list-style-type: none;
    margin: 10px 3px;
    padding: 0;
    text-align: center;
}
ul.left_btmlink li {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin: 18px 0;
}
ul.left_btmlink li a {
    color: #003399;
    font-size: 13px;
    font-weight: bold;
    margin: 14px 0;
    text-decoration: none;
}
.left_lbl_img {
    border: 0px solid red;
    height: 130px;
    margin-bottom: -30px;
    margin-left: -13px;
   /* margin-top: -15px; */
    width: 192px;
}
/********End of css for left side region ********/

/********Css for right side region & it's blocks********/

.view-home-slideshow-view .views_slideshow_singleframe_main  {
	position:relative;
}
.view-home-slideshow-view .views-field-field-image-data {
	background-color: #51392C;
    bottom: 4px;
    color: #FFFFFF;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 12px;
    font-weight: bold;
    left: 0;
    opacity: 0.6;
    padding: 6px 5px 15px 5px;
    position: absolute;
	filter:alpha(opacity=60); /* IE */
    -moz-opacity:0.6; /* Mozilla */
    opacity: 0.6; /* CSS3 */
	text-align:justify;
	border: 1px solid #51392C;
    border-radius: 0 0 10px 10px;
}
.view-home-slideshow-view .views-field-field-author-value {
    bottom: 4px;
    color: #FFFFFF;
    right: 0;
	font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 12px;
    font-weight: bold;
    opacity: 0.6;
    position: absolute;
	filter:alpha(opacity=60); /* IE */
    -moz-opacity:0.6; /* Mozilla */
    opacity: 0.6; /* CSS3 */
	width:100%;
}
.view-home-slideshow-view .views-field-field-author-value .field-content {
	float:right;
	margin-right:10px;
	color:#D0C578;
}
.right_dual_advt {
    background: url("../images/right_text_bg.jpg") no-repeat scroll left top transparent;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 15px 0;
    padding: 3px 0;
    text-align: center;
}
.right_dual_advt h2 {
    font-size: 23px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
.right_dual_advt h2 a{
	color:#000;
	/* text-decoration:none; */
}
.right_dual_advt p {
    margin: 0;
    padding: 0;
}
#bottom_content {
	clear: both;
    overflow: hidden;
	margin-top:10px;
}

#btm_left_content {
    float: left;
    padding: 5px;
    width: 466px;
  }
#bottom_right_content {
    background: url("../images/news_bg.png") no-repeat scroll left top transparent;
    float: right;
    padding: 5px 10px;
    width: 430px;
}
#block-views-technology_update-block_1 .views-field-title {
    color: #999999;
    font-size: 18px;
    margin: 5px 0;
}

#block-views-technology_update-block_1 .views-row{
	position:relative;

}
#block-views-technology_update-block_1 .views-field-view-node {
	position:absolute;
	bottom:0px;
	left:140px;
}
#block-views-technology_update-block_1 .views-field-view-node a{
	color: #000099;
    font-style: italic;
    text-decoration: none;
    position:absolute;
    margin-left:270px;
}



/****** CSS for maxhealthnews block ******/


#block-views-maxhealth_news-block_1 h2.title {
	color: #999999;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

#block-views-maxhealth_news-block_1 p a {
    color: #000099;
    font-style: italic;
    text-decoration: none;
}


#block-views-maxhealth_news-block_1 .item-list {
	visibility:hidden;
}
.news_link {
    clear: both;
    color: #0230F5;
    padding: 5px;
    text-align: center;
}
.news_link a {
    color: #0230F5;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
#views_slideshow_singleframe_div_maxhealth_news-block_1_0 {
	position:relative;

}
#block-views-maxhealth_news-block_1 .views-field-view-node {
	position:absolute;
	bottom:0px;
	top:85px;
	left:135px;
}
#block-views-maxhealth_news-block_1 .views-field-view-node a{
	color: #000099;
    font-style: italic;
    text-decoration: none;
}
#views_slideshow_singleframe_pager_maxhealth_news-block_1 {
	border:0px solid red;
	padding-left:135px;
}
#views_slideshow_singleframe_pager_maxhealth_news-block_1 .pager-item {
	border: 1px solid #5284FF;
    color: #5284FF;
    float: left;
    font-weight: bold;
    margin: 0 2px;
    padding: 3px 5px;
    text-decoration: none;
}
#views_slideshow_singleframe_pager_maxhealth_news-block_1 .pager-item.activeSlide{

	background-color: #5284FF;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
	margin:-1px 2px;
	padding:4px 5px;
}
#views_slideshow_singleframe_pager_maxhealth_news-block_1 .pager-item.activeSlide a{
	color: #FFFFFF;
}
#views_slideshow_singleframe_pager_maxhealth_news-block_1 .pager-item a {
	color: #5284FF;
    font-style: italic;
    text-decoration: none;
}
#block-views-maxhealth_news-block_1 .view-footer {
	border:0px solid red;
	margin-top:-40px;
}
#block-views-maxhealth_news-block_1  .views-slideshow-controls-bottom {
	margin-top:27px;
}
#block-views-maxhealth_news-block_1 .view-content {
	border:0px solid green;
}
#block-views-maxhealth_news-block_1 .view-content .views-field-body {
	border:0px solid green;
}
#block-views-maxhealth_news-block_1 .view-content .views-field-body p {
	border:0px solid green;
	margin:0px;
	padding:0px;
}
#block-views-maxhealth_news-block_1 .views-field-title a {
    color: #000099;
    font-style: italic;
    text-decoration: none;
}
/****** End of CSS for maxhealthnews block ******/

.share_area {
    float: left;
    width: 200px;
}
.social_net_wrap {
    float: left;
    width: 260px;
}
p.share_title {
    color: #858585;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    padding-left:25px;
	margin:6px 0px 8px 0px;
}
ul.social_media {
    list-style: none outside none;
    margin: 0 15px;
    padding: 0;
}
ul.social_media li {
    float: left;
    margin: 0 5px;
}
.social_net_wrap {
    float: left;
    width: 260px;
}
ul.social_net {
    list-style: none outside none;
    margin: 0 auto;
    padding: 0;
    width: 230px;
}
ul.social_net li {
    float: left;
    margin: 8px 10px;
}
ul.email_page {
    list-style: none outside none;
    margin: 0 auto;
    padding: 0;
}
ul.email_page li {
    color: #3F5BD5;
    float: left;
    font-size: 14px;
    margin: 8px 3px;
    text-transform: uppercase;
}
.front #content .tabs {
	display:none;
}
.front #content-area .submitted {
	display:none;
}
#block-views-front_page_product_view-block_1 {
    border: 0px solid red;
    font-size: 13px;
    font-weight: bold;
    padding: 0;
    text-align: center;
    width: 100%;
}
#block-views-front_page_product_view-block_1 .views-row  {
	border:0px solid red;
	padding:9px 0px;
}
#block-views-front_page_product_view-block_1 .views-row a{
	color: #003399;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
	
}
ul.left_bluelink {
    list-style-type: none;
    margin: 100px 3px 10px;
    padding: 0;
    text-align: center;
}
ul.left_bluelink li {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin: 14px 0;
}
#page .region-sidebar-first .section {
	padding:0px;
	margin-right:5px;
	padding-top:10px;
}
#search-block-form .form-submit {
	border:0px solid red;
	background: url("../images/search_btn.png") no-repeat scroll left top transparent;
	width:90px;
	height:18px;
	font-size:0px;
}
#search-block-form {
	text-align:center;
	margin-top:25px;
}
.block-search h2.title {
	font-size:0px;
}
#search-block-form #edit-search-block-form-1 {
	background: url("../images/search_box.png") no-repeat scroll left top transparent;
    border: medium none;
    height: 18px;
    padding: 2px 3px;
    width: 143px;
}

#block-gtranslate-0 h2.title {
	visibility:hidden;
}
#block-gtranslate-0 .skiptranslate {
	font-size:0px;
	margin-top:-14px;
}
#block-gtranslate-0 .skiptranslate span{
	visibility:hidden;

}
.video_wrap {
   /* background-color: #5089E0; */
    padding: 0;
}
.video_img {
  /*  margin: 0 auto;
    width: 357px; */
}
#lightbox #imageDataContainer {
	height:35px;
}
#lightbox .lightbox2-alt-layout-data #bottomNavClose,#lightbox .lightbox2-alt-layout #bottomNavClose {
    height: 14px;
    margin-top: 7px;
}
#block-block-1 {
	margin-top:10px;
}
#lightbox #outerImageContainer {
	width:610px !important;
	_width:650px !important;
}
#lightbox #imageDataContainer {
	width:610px !important;
	_width:650px !important;
}
#lightboxFrame {
	width:585px !important;
	_width:650px !important;
}
/* .not-front #content-area {
	padding-bottom:20px;	
} */
.not-front .footer_wrap {
	margin-top:10px;
}

ul.pager {
    list-style-type: none;
    margin: 0 auto;
	width:300px;
	border:0px solid red;
	display:block;
}
ul.pager li {
    float: left;
	border:0px solid green;
}
ul.pager li a:hover {
    background-color: #5284FF;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
ul.pager .pager-current {
	background-color: #5284FF;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
	margin-top: 6px;
    padding: 4px 5px;
} 
ul.pager li a {
    border: 1px solid #5284FF;
    color: #5284FF;
    float: left;
    font-weight: bold;
    margin: 0 2px;
    padding: 3px 5px;
    text-decoration: none;
} 
#content h1.title {
	padding:5px 0px;
	font-size:22px;

}
.node-type-webform .form-radios  {
	margin:0px;
}
.node-type-webform .form-radios .form-item ,.node-type-webform .form-checkboxes .form-item {
	float:left;
	width:100px;
    border: 0px solid red;
}
.node-type-webform .webform-component {
	width:510px;
    border: 0px solid red;
}
.node-type-webform .webform-component-textfield ,.node-type-webform .webform-component-select{
	float:left;
    border: 0px solid red;
	width:275px;
	height:60px;
}
.node-type-webform .webform-component-checkboxes,.node-type-webform .webform-component-textarea,.node-type-webform .webform-component-email {
	float:left;
	width:600px;
}
.node-type-webform .form-actions  {
	clear:both;
}
.node-type-webform .form-checkboxes .form-item  {
	width:240px;
}
.node-type-webform .form-item label {
	padding-bottom:5px;
}
.view-uc-products table tr td {
	border:0px solid red;
	width:360px;
	padding:5px;
}
.view-uc-products .product-div {
	height: 220px;
    width: 350px;
	border: 2px solid #D0CAB4;
    border-radius: 5px 5px 5px 5px;
	padding:0px 5px;
}
.view-uc-products .views-field-title a{
	color: #003399;
    text-decoration: none;
}
.view-uc-products .views-field-title h2 {
	 font-size: 15px;
}
.view-uc-products  .views-field-field-image-cache-fid {
	border:0px solid red;
	width:110px;
	float:left;

}
.view-uc-products .views-field-body {
	border:0px solid red;	
	float:left;
	min-height:108px;
    width: 235px;
	margin-left:5px;
}
.view-uc-products .list-add-to-cart {
	float:left;
	margin: 0 10px;
}
.view-uc-products .uc-price-product {
	float:left;
}
.views-field-sell-price {
	border:0px solid red;
	margin-left: 104px;
    margin-top: 125px;
    width: 250px;
}
.view-uc-products .prod-price a {
	float:left;
}
#block-block-10 h2 a {
	text-decoration:none;
	color:#003399;
}
#content h1.title {
	color: #053287;
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0px;
	padding:0px;
}
#content-area #node-9 .subheading {
	font-size: 14px;
    font-style: italic;
    font-weight: bold;
	margin:0px;
	margin-top:-10px;
}
.add-to-cart {
	border:0px solid red;
	margin-top:15px;
}
.add-to-cart .form-submit {
	background: url("../images/add_to_cart.png") no-repeat scroll right bottom transparent;
    border: medium none;
    font-size: 0;
    height: 35px;
    width: 115px;
}
.node-type-product .uc-price-product {
   font-size: 15px;
   font-style: italic;
   font-weight: bold;
}

#cart-form-products td {
	border:0px solid red;
	padding:0px 5px;
}
#node-9 h3 {
	padding:0px;
	margin:0px;
	margin-top:5px;
	font-size: 24px;
	font-style: italic;
    font-weight: bold;
    letter-spacing: -1px;

}
#content-area #node-9 {
	text-align:center;
}
#content-area #node-9 p {
    margin:3px 0px;
}
#content-area #node-9 h4 {
	color: #000000;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    margin: 0;
}
#btm_left_content .email_page a {
	text-decoration:none;
}
#content-area .node-type-product .content{
	margin-bottom:10px;
	border:0px solid red;
}
#content-area .node-type-product ul.links li.forward_links a{
	color: #4E5F97;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
}

#block-nice_menus-1 {
    margin-top: 6px;
    padding: 0;
	background: url("../images/top_nav_bg.jpg") repeat-x scroll left top transparent;
    height: 37px;
	border:0px solid red;
}

#block-nice_menus-1 ul {
	border:0px solid red;
	list-style: none outside none;
    margin: 0;
    padding: 0;
    
}
 #block-nice_menus-1 {
	border:0px solid black;
	padding:0px;
	margin:10px 0px 0px 0px;
}
#block-nice_menus-1 ul li{
	background: url("../images/menu_divider.jpg") no-repeat scroll right center transparent;
    color: #939598;
    display: block;
    float: left;
    font-size: 14px;
    padding: 6px 11px 0;
    position: relative;
    vertical-align: middle;
    z-index: 500;
	border:none;
}
#block-nice_menus-1 ul li.last {
	background:none;
}
#block-nice_menus-1 ul li a{ 
	color: #FFFFFF;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0 10px;
    padding: 2px 4px 5px;
    text-align: center;
    text-decoration: none;
	
}
#block-nice_menus-1 .menuparent ul{
	border:0px solid green;
	margin:0px;
	margin-top:9px;
	padding:0px;
    z-index:999;
	position:absolute;
	opacity: 0.8;
} 
#block-nice_menus-1 .menuparent ul li ,#block-nice_menus-1 .menuparent.over {
	background-color:#09018B;
}
#block-nice_menus-1 .menuparent.over {
	padding: 6px 11px 8px 0px;
	border:0px solid green;
}
#block-nice_menus-1 .menuparent ul li a {
	color: #FFFFFF;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0 10px;
    padding: 2px 4px 5px;
    text-align: left;
    text-decoration: none;
} 
ul.nice-menu li.menuparent ul iframe {
	z-index: 909;
}
ul.nice-menu,
ul.nice-menu ul {
  z-index: 909;
}
.block-nice_menus {
  z-index: 909;
}
#header-bottom {
	border:0px solid red;
}
.bck-button {
    background: url("../images/back.png") no-repeat scroll right bottom transparent;
    border: medium none;
    font-size: 0;
    padding: 20px 40px;
    text-decoration: none;
}
.back-button {
	margin-bottom: 20px;
    margin-left: 124px;
    margin-top: -32px;
}
#content-area .node-type-page img{
	/* border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 3px 0 #CCCCCC; 
	-moz-box-shadow:3px 3px 5px 6px #ccc;
    -webkit-box-shadow:3px 3px 5px 6px #ccc;
     box-shadow:3px 3px 5px 6px #ccc;
	*/
  	margin:5px 20px;
	
}
#content-area .node-type-page .lip-tbl {
	border:0px solid red;
}
#content-area .node-type-page .lip-tbl .tblhead {
	border:0px solid red;
	font-weight:bold;
}
#content-area .node-type-page .lip-tbl td {
	text-align:center;
}
#content-area .node-type-page .lip-tbl td img{

}
.page-mission-statement #content h1.title {
	/* text-align:center; */
}
#lightbox {
	/*top:160px !important; */
}
#lightbox.lightmodal-login #outerImageContainer {
	border:10px solid #515151;
	border-bottom:none;
	border-radius: 5px 5px 0px 0px;
	height:250px !important;
	width:360px !important;
}
#lightbox.lightmodal-login #imageDataContainer {
	border:10px solid #515151;
	border-top:none;
	border-radius: 0px 0px 5px 5px;
	width:360px !important;
}
#user-login-form .item-list ul {
	border:0px solid red;
	list-style: none outside none;
	padding:0px;
	margin:0px;
	padding-bottom:5px;
}
#user-login-form .item-list ul li {
	display: inline;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
	padding-right:15px;
}
.lightmodal-login #outerImageContainer #modalContainer {
	width:500px !important;
	height:250px !important;
}
#lightbox #user-login input {
	background-color: #E6E5E5;
    border-style: none;
    border-width: 0;
    height: 27px;
    padding: 3px;
    width: 210px;
}
#user-login-form .form-item label {
	font-family:Arial,Helvetica,sans-serif;	
	padding:2px 0px;
	font-size:14px;
}
#user-login-form .form-item input {
	background-color: #E6E5E5;
    border-style: none;
    border-width: 0;
    height: 22px;
    margin: 3px 0;
    padding: 3px;
    width: 210px;
}
#user-login-form .form-item input.form-text{
	border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 3px 0 #0C5688;
    max-width: 95%;
}
#user-login-form input.form-submit {
	background: url("../images/login.png") no-repeat scroll right bottom transparent;
    border: medium none;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    width: 55px;
}
#content-area .flt-left {
	float:left;
}
#content-area .flt-right {
	float:right;
}
#user-login-form .form-item .description {
    font-size: 80%;
    line-height: 130%;
    width: 365px;
}
#user-login-form .form-item {
	margin-top:5px;
	margin-bottom:10px;
}
.lightmodal-login #imageDataContainer {
	background-color:#E6E5E5 !important;
}
.lightmodal-login a#bottomNavClose {
	background-color:#E6E5E5 !important;
}
.lightmodal-login #frameHoverNav {
	bottom: -10px;
    color: #7C7C77;
    font-size: 13px;
    font-weight: bold;
	width:30%;
    text-align:left;
}
.node-type-product .field-field-image-cache {
	border:0px solid red;
	float: left;
    margin-right: 20px;
    padding: 10px;
}
.node-type-product .links {
	float: right;
    margin: -35px 0 0;
}
.wa-user-listing {
	width:80%;
	margin:0px 10px;
}
.wa-user-listing th{ 
	border:1px solid black;
}
.wa-user-listing th a {
	text-decoration:none;
	font-weight:bold;
	font-size:13px;
	color:#000;
}
.wa-user-listing tr {
	border:1px solid black;
}
.wa-user-listing td,.wa-user-listing th{
	padding:5px 5px;
}
#content-area p sup {
	font-size:8px;
}

/*SEARCH SECTION CSS START HERE*/
.search_sect{
	float:left;
	width:325px;
	margin-left:50px;
}
.search_bg{
	height:23px;
	width:315px;
}
#search-box #edit-search-theme-form-1{
	height:15px;
	width:233px;
	padding:4px 5px;
	border:none;
	background:url(../images/search_input.png) no-repeat top left;
	font-size:11px;
	float:left;
}
#search-box .form-submit{
	font-size:0px;
	float:right;
	background:url(../images/search.png) no-repeat top left;
	width:72px;
	height:23px;
	border:none;
}
#block-menu_block-1 {
	border:0px solid red;
}
#block-menu_block-1 .menu-name-menu-wellness-affiliate-landing ul {
	padding:0px;
	margin:0px;
	margin-top:10px;
	overflow: hidden;
}
#block-menu_block-1 .menu-name-menu-wellness-affiliate-landing ul li {
	background-color: #6E69BB;
    border: 1px solid #6E69BB;
    border-radius: 4px 4px 4px 4px;
    display: block;
    float: left;
    margin: 3px;
    padding: 3px 4px;
}
#block-menu_block-1 .menu-name-menu-wellness-affiliate-landing {
	clear:both;
}
#block-menu_block-1 .menu-name-menu-wellness-affiliate-landing li.active {
	background-color:#6E69BB;
	border:1px solid #6E69BB;
	border-radius: 4px;
}
#block-menu_block-1 .menu-name-menu-wellness-affiliate-landing li a {
	color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
#block-menu_block-1 .menu-name-menu-wellness-affiliate-landing li.active a{
	color:#FFF;
	text-decoration:none;
}
#block-block-17 {
	border:0px solid red;
	float: right;
    margin-top: 15px;
}
#block-block-17 a {
	background-color: #ECA600;
    border: 1px solid #ECA600;
    border-radius: 5px 5px 5px 5px; 
    color: #003399;
    font-weight: bold;
    padding: 6px;
	font-size:13px;
}
#block-block-17 .edit {
	display:none;
}

.view-all-testimonials .views-row {
	background-color: #F2F2F2;
    box-shadow: 0 0 3px 0 #CCCCCC;
	margin-bottom: 10px;
    min-height: 90px;
    padding: 10px;
}
.view-all-testimonials .views-row .views-field-field-image-testimonial-fid img{
	float: right;
    margin: 0 0 15px 15px;
	border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 3px 0 #CCCCCC;
}
.view-all-testimonials .views-row .views-field-title{
	font-size:16px;
	font-weight:bold;
	margin-bottom: 5px;
}
.node-type-product #lightbox #outerImageContainer{
	border:10px solid #515151;
	border-bottom:none;
	border-radius: 5px 5px 0px 0px;
	/*height:150px !important;*/
    height:auto;
	width:600px !important;

}
.node-type-product #lightbox #imageDataContainer{
	border:10px solid #515151;
	border-top:none;
	border-radius: 0px 0px 5px 5px;
	width:600px !important;
}
#block-block-18 {
	background: none repeat scroll 0 0 #F0F0F0;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 3px 0 #CCCCCC;
    margin-top: 10px;
    padding: 5px 0px;
    width: 100%;
	text-align:center;

}
#block-block-18 .content a {
	color: #D53737;
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
    text-decoration: none;
}

#views-accordion-news_page-page_1 .accordion-item-odd {
    padding:0px!important;

}

#views-accordion-news_page-page_1 .accordion-item-even {
    padding:0px!important;

}


#views-accordion-news_page-page_1 .accordion-header {
    font-size:9px!important;
    padding-bottom: 1px;
    padding-top: 1px;
}

#content-area .box {
    background-color :#EEEEEE ;
    padding-left:10px;
    padding-right:5px;
    padding-bottom:2px;
    
}

.box .title {
    padding-bottom:10px;
    
}

#content-area #cart-pane ,#customer-pane, #delivery-pane,#billing-pane,#quotes-pane, #payment-pane, #payment-pane, #comments-pane, #checkout-form-bottom{
    background-color:#EEEEEE;
}

.box .search-info {
    text-align:right;
}

.profile {
    background-color: #EEEEEE;
    clear: both;
    margin: 1em 0;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
}
#main-wrapper .breadcrumb {
	padding-bottom:10px;
}
/*#edit-name-wrapper, #edit-mail-wrapper,#edit-pass-wrapper {
    background-color:#EEEEEE;
}
    */
/*#content-area .form-item {
    background-color:#EEEEEE;
}    */

#fieldset-wrapper #sticky-enabled {
    background-color: #EEEEEE;
}

#fieldset-wrapper #fieldset {
    background-color:#EEEEEE!important;
}

#content-area #user-profile-form {
    background-color: #EEEEEE;
     padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    
}

.uc-order-history {
    width:100%;
}

.uc-order-history .odd {
    text-align:left;   
}

.pos-left {
    float: left;
    margin-left: 34px;
    width: 25%;
}
#order-pane-order_comments .date {
    text-align: left;
    width: 2% !important;
}

#order-pane-order_comments .status {
    width:1%!important;
    text-align:left;
}
 #order-pane-order_comments .message {
  
} 
.uc-order-comments td.message {
    width: 2%;
}

#outerImageContainer {
    height:auto!important;
    overflow-y: scroll;
    }

#discountsPoints {
    float:left;
    text-align:left;
    line-height:22px;
}

#node-87 {
   width:570px;
}
#tableBody tbody {
    height:400px;
}
.node-type-product .product-info {
	margin-top:10px;
}
 


/*Style for displaying views in bottm */
#discount_links_footer {
    background: none repeat scroll 0 0 #F0F0F0;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 3px 0 #CCCCCC;
    margin-top: 10px;
    padding: 5px 0px;
    width: 100%;
    text-align:center;   
}

#discount_links_footer  a {
    color: #D53737;
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
    text-decoration: none;
}
.clinical_studies_liks {
    line-height: 7px;
}

.clinical_studies_liks a {
    text-decoration:none;
}

.tm_text {
}